@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: 10px;
}

input:-webkit-autofill {
  &,
  &:hover,
  &:focus,
  &:active {
    transition-delay: 9999s;
    transition-property: background-color;
  }
}

@layer components {
  .ownGrid {
    @apply grid grid-cols-12 gap-[24px];
  }
  .ownGridSmall {
    @apply grid grid-cols-2 gap-[16px];
  }
  .ownContainer {
    @apply max-w-[1200px] md:px-[24px] px-[20px] w-full mx-auto;
  }
  .header_height {
    @apply md:h-[600px] h-[calc(100dvh-56px)];
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background-color: #bbbcc1;
  border-radius: 5px;
}
